In [1]:
import pandas as pd
import numpy as np

In [2]:
# File to load
final_ticker_data_to_load = "final_ticker_data.csv"

In [3]:
# Read the final Ticker data and store into a Panda DataFrame
final_ticker_data_df = pd.read_csv(final_ticker_data_to_load)
final_ticker_data_df

,Year,GICS_Sector,Ticker,Avg_Daily_Close_Change,Avg_Adj_Close
0,2013,Communication Services,DIS,0.001813,57.213066
1,2013,Communication Services,DISH,0.001965,42.985992
2,2013,Communication Services,EA,0.002103,21.654790
3,2013,Communication Services,GOOGL,0.001919,442.563933
4,2013,Communication Services,LUMN,-0.000377,16.635402
...,...,...,...,...,...
1051,2020,Utilities,EXC,0.000375,27.024073
1052,2020,Utilities,NEE,0.001381,64.396236
1053,2020,Utilities,PEG,0.000416,50.990339
1054,2020,Utilities,SO,0.000438,54.000639
1055,2020,Utilities,XEL,0.000599,64.663301

In [5]:
# Get the columns and the rows that are not null
final_ticker_data_df.count()

Year                      1056
GICS_Sector               1056
Ticker                    1056
Avg_Daily_Close_Change    1056
Avg_Adj_Close             1056
dtype: int64

In [6]:
# Describe DataFrame
final_ticker_data_df.describe()

              Year  Avg_Daily_Close_Change  Avg_Adj_Close
count  1056.000000             1056.000000    1056.000000
mean   2016.500000                0.000714      87.791859
std       2.292374                0.001006     148.356407
min    2013.000000               -0.003682       8.018033
25%    2014.750000                0.000157      35.767154
50%    2016.500000                0.000716      56.685813
75%    2018.250000                0.001282      96.518807
max    2020.000000                0.010047    2680.855096

In [7]:
### Ticker summary

In [8]:
# Calculate Total GICS_Sector
sector_count = len(final_ticker_data_df["GICS_Sector"].unique())
sector_count

11

In [9]:
# Calculate Total Ticker 
ticker_count = len(final_ticker_data_df["Ticker"].unique())
ticker_count

132

In [10]:
# Calculate the Average Avg_Daily_Close_Change
average_daily_close_change = final_ticker_data_df["Avg_Daily_Close_Change"].mean()
average_daily_close_change

0.0007136954312981292

In [11]:
# Calculate the Average Avg_Daily_Close_Change group by GICS_Sector
average_daily_close_change_by_sector = final_ticker_data_df.groupby(["GICS_Sector"]).mean()["Avg_Daily_Close_Change"]
average_daily_close_change_by_sector

GICS_Sector
Communication Services    0.000982
Consumer Discretionary    0.000982
Consumer Staples          0.000556
Energy                    0.000188
Financials                0.000604
Health Care               0.000956
Industrials               0.000750
Information Technology    0.001166
Materials                 0.000619
Real Estate               0.000436
Utilities                 0.000610
Name: Avg_Daily_Close_Change, dtype: float64

In [12]:
# Calculate the Average Avg_Daily_Close_Change group by Year
average_daily_close_change_by_year = final_ticker_data_df.groupby(["Year"]).mean()["Avg_Daily_Close_Change"]
average_daily_close_change_by_year

Year
2013    0.001361
2014    0.000775
2015    0.000167
2016    0.000730
2017    0.000763
2018   -0.000070
2019    0.001086
2020    0.000897
Name: Avg_Daily_Close_Change, dtype: float64

In [13]:
# Calculate the Avg_Adj_Close
average_adj_close = final_ticker_data_df["Avg_Adj_Close"].mean()
average_adj_close

87.79185857337953

In [14]:
# Calculate the Avg_Adj_Close group by GICS_Sector
average_adj_close_by_sector =  final_ticker_data_df.groupby(["GICS_Sector"]).mean()["Avg_Adj_Close"]
average_adj_close_by_sector

GICS_Sector
Communication Services    132.781975
Consumer Discretionary    158.080633
Consumer Staples           70.808887
Energy                     52.268899
Financials                 70.148725
Health Care               130.546884
Industrials                66.912522
Information Technology     95.514904
Materials                  72.474556
Real Estate                74.646719
Utilities                  41.525741
Name: Avg_Adj_Close, dtype: float64

In [15]:
# Calculate the Avg_Adj_Close group by Year
average_adj_close_by_year = final_ticker_data_df.groupby(["Year"]).mean()["Avg_Adj_Close"]
average_adj_close_by_year

Year
2013     48.624834
2014     60.190941
2015     69.163958
2016     74.002901
2017     89.256365
2018    106.787468
2019    117.244303
2020    137.064098
Name: Avg_Adj_Close, dtype: float64

In [16]:
# Combine into DataFrame by Sector
summary_df_by_sector = pd.DataFrame({
    "Average Daily Close Change by Sector": average_daily_close_change_by_sector,
    "Average Adj Close by Year": average_adj_close_by_sector})

summary_df_by_sector

,Average Daily Close Change by Sector,Average Adj Close by Year
GICS_Sector,,
Communication Services,0.000982,132.781975
Consumer Discretionary,0.000982,158.080633
Consumer Staples,0.000556,70.808887
Energy,0.000188,52.268899
Financials,0.000604,70.148725
Health Care,0.000956,130.546884
Industrials,0.000750,66.912522
Information Technology,0.001166,95.514904
Materials,0.000619,72.474556
Real Estate,0.000436,74.646719
Utilities,0.000610,41.525741

In [17]:
# Combine into DataFrame by Year
summary_df_by_year = pd.DataFrame ({
    "Average Daily Close Change by Year ": average_daily_close_change_by_year,
    "Average Adj Close by Year":average_adj_close_by_year})

summary_df_by_year

      Average Daily Close Change by Year   Average Adj Close by Year
Year
2013                             0.001361                  48.624834
2014                             0.000775                  60.190941
2015                             0.000167                  69.163958
2016                             0.000730                  74.002901
2017                             0.000763                  89.256365
2018                            -0.000070                 106.787468
2019                             0.001086                 117.244303
2020                             0.000897                 137.064098