In [1]:
#Importing Dependencies
import pandas as pd
from datetime import date
import random

In [2]:
#Reading in CSV file
raw_csv= "../snp500_data_complete.csv"

df= pd.read_csv(raw_csv)

In [3]:
#Observing Data
df

,Ticker,Company,GICS_Sector,GICS_Sub-Industry,Headquarters,Date_added,Date,Open,High,Low,Close,Adj_Close,Volume
0,ATVI,Activision Blizzard,Communication Services,Interactive Home Entertainment,"Santa Monica, California",2015-08-31,2012-05-21,12.000000,12.230000,11.850000,12.200000,11.290536,5713100.0
1,ATVI,Activision Blizzard,Communication Services,Interactive Home Entertainment,"Santa Monica, California",2015-08-31,2012-05-22,12.230000,12.240000,11.930000,12.000000,11.105447,6009400.0
2,ATVI,Activision Blizzard,Communication Services,Interactive Home Entertainment,"Santa Monica, California",2015-08-31,2012-05-23,11.970000,12.410000,11.960000,12.330000,11.410846,8028000.0
3,ATVI,Activision Blizzard,Communication Services,Interactive Home Entertainment,"Santa Monica, California",2015-08-31,2012-05-24,12.390000,12.390000,12.010000,12.100000,11.197991,6165700.0
4,ATVI,Activision Blizzard,Communication Services,Interactive Home Entertainment,"Santa Monica, California",2015-08-31,2012-05-25,12.090000,12.280000,12.030000,12.240000,11.327554,4928300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1227417,XEL,Xcel Energy,Utilities,Multi-Utilities,"Minneapolis, Minnesota",1957-03-04,2022-05-16,74.360001,75.190002,74.050003,74.830002,74.830002,2678200.0
1227418,XEL,Xcel Energy,Utilities,Multi-Utilities,"Minneapolis, Minnesota",1957-03-04,2022-05-17,75.019997,75.459999,73.599998,75.300003,75.300003,2465500.0
1227419,XEL,Xcel Energy,Utilities,Multi-Utilities,"Minneapolis, Minnesota",1957-03-04,2022-05-18,75.480003,75.709999,74.650002,74.889999,74.889999,3151900.0
1227420,XEL,Xcel Energy,Utilities,Multi-Utilities,"Minneapolis, Minnesota",1957-03-04,2022-05-19,74.800003,75.470001,73.839996,75.010002,75.010002,2954900.0
1227421,XEL,Xcel Energy,Utilities,Multi-Utilities,"Minneapolis, Minnesota",1957-03-04,2022-05-20,75.040001,75.150002,73.620003,74.220001,74.220001,4574000.0

In [4]:
#Dropping unncessary columns
df.drop(["Company","GICS_Sub-Industry", "Headquarters", "Date_added","Open", "High", "Low", "Close", "Volume"], inplace=True, axis=1)

In [5]:
#viewing updated df
df

        Ticker             GICS_Sector        Date  Adj_Close
0         ATVI  Communication Services  2012-05-21  11.290536
1         ATVI  Communication Services  2012-05-22  11.105447
2         ATVI  Communication Services  2012-05-23  11.410846
3         ATVI  Communication Services  2012-05-24  11.197991
4         ATVI  Communication Services  2012-05-25  11.327554
...        ...                     ...         ...        ...
1227417    XEL               Utilities  2022-05-16  74.830002
1227418    XEL               Utilities  2022-05-17  75.300003
1227419    XEL               Utilities  2022-05-18  74.889999
1227420    XEL               Utilities  2022-05-19  75.010002
1227421    XEL               Utilities  2022-05-20  74.220001

[1227422 rows x 4 columns]

In [6]:
#checking the number of stock data per industry
df["GICS_Sector"].value_counts()

Industrials               163496
Information Technology    162127
Health Care               148568
Consumer Discretionary    138168
Financials                129796
Consumer Staples           76147
Real Estate                72941
Materials                  61916
Communication Services     56100
Utilities                  52901
Energy                     50259
Name: GICS_Sector, dtype: int64

In [7]:
#Checking Datatypes of each column
df.dtypes

Ticker          object
GICS_Sector     object
Date            object
Adj_Close      float64
dtype: object

In [8]:
#Changing Datatypes
df['Date'] = pd.to_datetime(df['Date'])
df['Ticker'] = df['Ticker'].astype('string')
df['GICS_Sector'] = df['GICS_Sector'].astype('string')

In [9]:
# Ensuring data types are changed
df.dtypes

Ticker                 string
GICS_Sector            string
Date           datetime64[ns]
Adj_Close             float64
dtype: object

In [10]:
#Removing data with dates that are not included in our economic data file
df = df[~(df['Date'] < '2012-12-01')]
df = df[~(df['Date'] > '2020-12-31')]

In [11]:
#Checking the number of values of each ticker
value_counts = df['Ticker'].value_counts()
value_counts

ATVI    2035
BBWI    2035
NFLX    2035
PENN    2035
OMC     2035
        ...
FOX      457
DOW      452
CTVA     406
OTIS     200
CARR     200
Name: Ticker, Length: 500, dtype: Int64

In [12]:
# Select the values where the count is less than what is needed
to_remove = value_counts[value_counts < 2035].index

# Keep rows where the tickers column is not in to_remove
updated_df = df[~df.Ticker.isin(to_remove)]

In [13]:
#Checking to ensure only kept the tickers with the right amount of data
updated_df['Ticker'].value_counts()

ATVI     2035
CCL      2035
CMCSA    2035
DIS      2035
DISH     2035
         ...
PPL      2035
SO       2035
SRE      2035
WEC      2035
XEL      2035
Name: Ticker, Length: 463, dtype: Int64

In [14]:
#Checking how many data points in each sector
updated_df["GICS_Sector"].value_counts()

Industrials               126170
Information Technology    118030
Health Care               111925
Consumer Discretionary    103785
Financials                101750
Consumer Staples           59015
Real Estate                59015
Materials                  48840
Utilities                  42735
Energy                     40700
Communication Services     38665
Name: GICS_Sector, dtype: Int64

In [15]:
#Creating a list of unique GICS Sectors and removing the NA Sector
unique = updated_df['GICS_Sector'].unique()
unique_df = pd.DataFrame(unique)
unique_df = unique_df.loc[unique_df[0] != "<NA>", :]
unique_df

                         0
0   Communication Services
2   Consumer Discretionary
3         Consumer Staples
4                   Energy
5               Financials
6              Health Care
7              Industrials
8   Information Technology
9                Materials
10             Real Estate
11               Utilities

In [16]:
#created a for loop to randomly select 12 tickers in each sector and added it to the sector_df dataframe

sector_list = []

for i in unique_df[0]:
    sector_df = updated_df.loc[updated_df['GICS_Sector'] == i, :]
    i_tickers = sector_df['Ticker'].unique()
    ticks = random.sample(set(i_tickers), 12)
    sector_list.append(sector_df.loc[sector_df['Ticker'].isin(ticks)])
sectors_df = pd.concat(sector_list)

/var/folders/nm/7qptm5xs7q9_2z9kz7qb_44h0000gn/T/ipykernel_26818/1950251643.py:8: DeprecationWarning: Sampling from a set deprecated
since Python 3.9 and will be removed in a subsequent version.
  ticks = random.sample(set(i_tickers), 12)

In [17]:
#Observing new dataframe
sectors_df

        Ticker             GICS_Sector       Date  Adj_Close
7688       DIS  Communication Services 2012-12-03  44.131496
7689       DIS  Communication Services 2012-12-04  44.140442
7690       DIS  Communication Services 2012-12-05  44.400101
7691       DIS  Communication Services 2012-12-06  44.600098
7692       DIS  Communication Services 2012-12-07  44.763729
...        ...                     ...        ...        ...
1227068    XEL               Utilities 2020-12-24  63.728981
1227069    XEL               Utilities 2020-12-28  64.409363
1227070    XEL               Utilities 2020-12-29  64.507973
1227071    XEL               Utilities 2020-12-30  64.734764
1227072    XEL               Utilities 2020-12-31  65.740547

[268620 rows x 4 columns]

In [18]:
#Ensuring each sector has the same amount of ticker data
ticker_counts = sectors_df.groupby(["GICS_Sector"]).count()["Ticker"]
ticker_counts

GICS_Sector
Communication Services    24420
Consumer Discretionary    24420
Consumer Staples          24420
Energy                    24420
Financials                24420
Health Care               24420
Industrials               24420
Information Technology    24420
Materials                 24420
Real Estate               24420
Utilities                 24420
Name: Ticker, dtype: int64

In [19]:
#Removing data earlier than 01/01/2013 from DF 
clean_sectors_df = sectors_df[~(sectors_df['Date'] < '2013-01-01')]

In [20]:
#Getting the average adjusted closing price per year for each ticker in each sector
grouped_df = clean_sectors_df.groupby([clean_sectors_df['Date'].dt.year, "GICS_Sector", "Ticker"])["Adj_Close"].mean()
grouped_df

Date  GICS_Sector             Ticker
2013  Communication Services  DIS        57.213066
                              DISH       42.985992
                              EA         21.654790
                              GOOGL     442.563933
                              LUMN       16.635402
                                           ...
2020  Utilities               EXC        27.024073
                              NEE        64.396236
                              PEG        50.990339
                              SO         54.000639
                              XEL        64.663301
Name: Adj_Close, Length: 1056, dtype: float64

In [21]:
#Reset the index 
cleaned_df = pd.DataFrame(grouped_df)
cleaned_df.reset_index(inplace=True)
cleaned_df

      Date             GICS_Sector Ticker   Adj_Close
0     2013  Communication Services    DIS   57.213066
1     2013  Communication Services   DISH   42.985992
2     2013  Communication Services     EA   21.654790
3     2013  Communication Services  GOOGL  442.563933
4     2013  Communication Services   LUMN   16.635402
...    ...                     ...    ...         ...
1051  2020               Utilities    EXC   27.024073
1052  2020               Utilities    NEE   64.396236
1053  2020               Utilities    PEG   50.990339
1054  2020               Utilities     SO   54.000639
1055  2020               Utilities    XEL   64.663301

[1056 rows x 4 columns]

In [22]:
cleaned_df.rename(columns = {'Adj_Close':'Avg_Adj_Close', 'Date': 'Year'}, inplace = True)
cleaned_df

      Year             GICS_Sector Ticker  Avg_Adj_Close
0     2013  Communication Services    DIS      57.213066
1     2013  Communication Services   DISH      42.985992
2     2013  Communication Services     EA      21.654790
3     2013  Communication Services  GOOGL     442.563933
4     2013  Communication Services   LUMN      16.635402
...    ...                     ...    ...            ...
1051  2020               Utilities    EXC      27.024073
1052  2020               Utilities    NEE      64.396236
1053  2020               Utilities    PEG      50.990339
1054  2020               Utilities     SO      54.000639
1055  2020               Utilities    XEL      64.663301

[1056 rows x 4 columns]

In [23]:
#Checking the data for one year
cleaned_df.loc[cleaned_df["Year"] == 2013]

     Year             GICS_Sector Ticker  Avg_Adj_Close
0    2013  Communication Services    DIS      57.213066
1    2013  Communication Services   DISH      42.985992
2    2013  Communication Services     EA      21.654790
3    2013  Communication Services  GOOGL     442.563933
4    2013  Communication Services   LUMN      16.635402
..    ...                     ...    ...            ...
127  2013               Utilities    EXC      14.484408
128  2013               Utilities    NEE      14.905409
129  2013               Utilities    PEG      24.163000
130  2013               Utilities     SO      29.003256
131  2013               Utilities    XEL      21.859193

[132 rows x 4 columns]

In [24]:
#Creating New Data Frame
change_df = sectors_df.copy()

In [25]:
change_df

        Ticker             GICS_Sector       Date  Adj_Close
7688       DIS  Communication Services 2012-12-03  44.131496
7689       DIS  Communication Services 2012-12-04  44.140442
7690       DIS  Communication Services 2012-12-05  44.400101
7691       DIS  Communication Services 2012-12-06  44.600098
7692       DIS  Communication Services 2012-12-07  44.763729
...        ...                     ...        ...        ...
1227068    XEL               Utilities 2020-12-24  63.728981
1227069    XEL               Utilities 2020-12-28  64.409363
1227070    XEL               Utilities 2020-12-29  64.507973
1227071    XEL               Utilities 2020-12-30  64.734764
1227072    XEL               Utilities 2020-12-31  65.740547

[268620 rows x 4 columns]

In [26]:
#Calculating the daily percentage change per stock
change_df["daily_pct_change"] = change_df.sort_values('Date').groupby(['Ticker', 'GICS_Sector']).Adj_Close.pct_change()
change_df

        Ticker             GICS_Sector       Date  Adj_Close  daily_pct_change
7688       DIS  Communication Services 2012-12-03  44.131496               NaN
7689       DIS  Communication Services 2012-12-04  44.140442          0.000203
7690       DIS  Communication Services 2012-12-05  44.400101          0.005883
7691       DIS  Communication Services 2012-12-06  44.600098          0.004504
7692       DIS  Communication Services 2012-12-07  44.763729          0.003669
...        ...                     ...        ...        ...               ...
1227068    XEL               Utilities 2020-12-24  63.728981          0.004976
1227069    XEL               Utilities 2020-12-28  64.409363          0.010676
1227070    XEL               Utilities 2020-12-29  64.507973          0.001531
1227071    XEL               Utilities 2020-12-30  64.734764          0.003516
1227072    XEL               Utilities 2020-12-31  65.740547          0.015537

[268620 rows x 5 columns]

In [27]:
#Grouping daily percentage change by Year and averaging out the daily percentage change 
avg_change_df = change_df.groupby([change_df['Date'].dt.year, "GICS_Sector", "Ticker"])["daily_pct_change"].mean()

In [28]:
#Checking DF
avg_change_df

Date  GICS_Sector             Ticker
2012  Communication Services  DIS       0.001382
                              DISH      0.001361
                              EA        0.000140
                              GOOGL     0.000952
                              LUMN      0.000951
                                          ...
2020  Utilities               EXC       0.000375
                              NEE       0.001381
                              PEG       0.000416
                              SO        0.000438
                              XEL       0.000599
Name: daily_pct_change, Length: 1188, dtype: float64

In [29]:
#Creating DF and resetting index
avg_change_df = pd.DataFrame(avg_change_df)
avg_change_df.reset_index(inplace=True)
avg_change_df

      Date             GICS_Sector Ticker  daily_pct_change
0     2012  Communication Services    DIS          0.001382
1     2012  Communication Services   DISH          0.001361
2     2012  Communication Services     EA          0.000140
3     2012  Communication Services  GOOGL          0.000952
4     2012  Communication Services   LUMN          0.000951
...    ...                     ...    ...               ...
1183  2020               Utilities    EXC          0.000375
1184  2020               Utilities    NEE          0.001381
1185  2020               Utilities    PEG          0.000416
1186  2020               Utilities     SO          0.000438
1187  2020               Utilities    XEL          0.000599

[1188 rows x 4 columns]

In [30]:
#Renaming columns 
avg_change_df.rename(columns = {'daily_pct_change':'Avg_Daily_Close_Change', 'Date': 'Year'}, inplace = True)
avg_change_df

      Year             GICS_Sector Ticker  Avg_Daily_Close_Change
0     2012  Communication Services    DIS                0.001382
1     2012  Communication Services   DISH                0.001361
2     2012  Communication Services     EA                0.000140
3     2012  Communication Services  GOOGL                0.000952
4     2012  Communication Services   LUMN                0.000951
...    ...                     ...    ...                     ...
1183  2020               Utilities    EXC                0.000375
1184  2020               Utilities    NEE                0.001381
1185  2020               Utilities    PEG                0.000416
1186  2020               Utilities     SO                0.000438
1187  2020               Utilities    XEL                0.000599

[1188 rows x 4 columns]

In [31]:
#Removing data earlier than 01/01/2013 from DF 
avg_change_df = avg_change_df[~(avg_change_df['Year'] < 2013)]
avg_change_df

      Year             GICS_Sector Ticker  Avg_Daily_Close_Change
132   2013  Communication Services    DIS                0.001813
133   2013  Communication Services   DISH                0.001965
134   2013  Communication Services     EA                0.002103
135   2013  Communication Services  GOOGL                0.001919
136   2013  Communication Services   LUMN               -0.000377
...    ...                     ...    ...                     ...
1183  2020               Utilities    EXC                0.000375
1184  2020               Utilities    NEE                0.001381
1185  2020               Utilities    PEG                0.000416
1186  2020               Utilities     SO                0.000438
1187  2020               Utilities    XEL                0.000599

[1056 rows x 4 columns]

In [32]:
final_df = pd.merge(avg_change_df, cleaned_df)

In [34]:
final_df.to_csv("final_ticker_data.csv", index=False)